extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        img.logo(src='/static/images/logo.jpg')
        h1 Bobby Brice
        | Toronto, ON

        
        p.lead.text-light
          | Full Stack JavaScript Developer

        
        .portfolio-bio
          p
            | I'm a seasoned manager with more than 10 years' experience in Financial Services. I'm passionate about delivering the best client experience to internal/external stakeholders and I've spent the last 6 years mentoring and developing employees to reach their career goals.
            br
            br
            | Currently, I'm completing the Team Treehouse Full Stack certificate and considering a full time immersive bootcamp. My goal is to become a developer that solves problems using clean, semantic code and solid logic while creating interactive web experiences that inspire and engage users. 

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS/SASS
          li jQuery
          li GitHub, Git
          li Express
          li Node.js
          li React
          li Responsive Design
        h6 Contact Info

      
        ul
          li 905-570-6744
          li bobby.brice@gmail.com

        
        a.button.expanded(href='https://www.linkedin.com/in/bobby-brice/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/bobby-brice' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/stay_golden85' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  